/* RESET BASE */
body{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sometype Mono', monospace;
    background-color: #f4f4f4;
}

/*HEADER*/
header {
    background-image: url(../img/wall.png);
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-family: 'Edu TAS Beginner', sans-serif;
    font-size: 3rem;
}